body {
    background-image: url(/assests/images/rockywall_@2X.png);
}


h2.text-center,
button.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
}

h2.page-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 10px 0px;
}

a,
span {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

footer.footer {
    background-color: #666666;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

div.row{
    align-content: space-around;
}

.text-block {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    width: fit-content;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777
}

@media screen and (min-width: 980px) {
    div.d-flex {
        max-width: 980px;
        margin: auto;
    }

    .container-fluid.d-flex {
        margin: 20px auto;
    }
}

@media screen and (max-width: 767px) {
    h2.text-center {
     min-width: 100%;
    }
    
    .container-fluid.d-flex {
        margin: 20px auto;
    }
}